body {
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-serif!important;
    font-size: 14px;
    color: #595d6e;
    letter-spacing: 0.3px;background-color: #fff;
    max-width: 1440px;
    margin: 0 auto!important;
  }
  * {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5px;
  }
  ::-webkit-scrollbar {
   width: 10px;
   height: 11px;
  }
  ::-webkit-scrollbar-track-piece {
   background-color: #f2f2f2;
   border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb {
   background-color: #ccc;
   border-radius: 2px;
  }
  ::-ms-scrollbar {
   width: 10px;
   height: 11px;
  }
  ::-ms-scrollbar-track-piece {
   background-color: #fff
  }
  ::-ms-scrollbar-thumb {
   background-color: #ccc;
  }
.click{cursor:pointer}
.navbar{
    background-color: #323232;
}
 .navbar-nav li{
    float: left;
}
 .sidenav {
    height: 98%;
    width: 0px;
    position: fixed;
    z-index: 10;
    top: 49px;
    left: -8px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}
 .sidenav.menu{
    padding-bottom: 50px;
}
 .sidenav a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 1rem;
    color: #b3b3b3!important;
    display: block;
    transition: 0.3s;
    cursor: pointer!important;
}
 .sidenav a:hover {
    color: #fff!important;
}
 .sidenav .closebtn {
    position: absolute;
     top: -10px;
     right: 16px;
     font-size: 30px;
    /* margin-left: 50px;
     */
     cursor: pointer;
     padding: 0;
     margin: 0;
}
 .sidenav ul li{
    padding:4px 5px;
    color:#818181;
    cursor: pointer;
    /* text-transform: uppercase; */
    font-size: 0.75rem
}
 .sidenav ul li:hover{
    color:#fafafa
}
 .sidenav ul li img{
    height: 20px;
}

/*custom checkbox CSS*/
.check {
    width: 18px;
    position: relative;
    margin: 5px 5px 5px 0px;
    font-size: 0.9rem;
    height: 18px;
    border: 1px #ccc solid;
     border-radius: 2px;
    color: #000000;
    display: inherit;
    padding-left:0px;
}
 .check label {
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px #000 solid;
     border-radius: 2px;
    padding-left: 25px;
    color:#000;
    text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
}
 .check label:after {
    content: '';
    width: 12px;
    height: 6px;
    position: absolute;
    top: 4px;
    left: 2px;
    border: 2px #fff solid;
     border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
 .check.dark-tick label:after{
    border-color:#bcc700
}
 .check label:hover::after {
    opacity: 0.5;
}
 .check input[type=checkbox] {
    visibility: hidden;
}
.checked .check input[type=checkbox]+label:after {
    opacity: 1;
}
 .check input[aria-checked=true]+label {
    border: 1px #fff solid;
    background-color: #424242;
}
/*custom radio CSS*/

.round {width: 15px;height: 15px;position: relative;border-radius: 50px;min-height: 14px !important;
    margin: 5px 5px 5px 0px;border: 1px solid #fff;display: inherit}
.round label {height: 1rem;cursor: pointer;position: absolute;left: 3px;padding-left: 20px;
    min-height: 1rem;top: -1px;border: 0px;font-size: 0.8rem;color: #fff;}
.round label:after {content: '';width: 10px;height: 10px;position: absolute;top: 2px;left: -1px;background: #fff;
    opacity: 0;border-radius: 50px;}
.round label:hover::after {opacity: 0.5;}
.round input[type=radio] {visibility: hidden;}
.checked .round input[type=radio]+label:after {opacity: 1;}
.round input[aria-checked=true]+label {border: 1px #20A4F3 solid;}

.table-bordered td, .table-bordered th {
    border: 1px solid #f2f2f2!important;
}
.table tr:hover td{background-color: #4b57b9!important;color:#fff}
.table tr:hover td{color:#0095d9;background-color: #fafafa!important;}
.text-primary{color: #4b57b9!important;}
.btn-primary{background-color: #4b57b9!important;border-color: #4b57b9!important;}
.modal-header{background-color: #fff!important;color:#4b57b9!important}
.close{color: #000;opacity: 1;}

.mat-datepicker-popup{bottom:35%!important}