<app-progress-loading [show]="showLoader"></app-progress-loading>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background-color: #4b57b9!important;">
  <a class="navbar-brand text-white"> <i class="fa fa-bars mr-2 click" (click)="openMenu()"></i>RebusCode -
    <span class="d-inline-block small">{{headerName}}</span></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav ml-auto">
    <!-- <li class="nav-item active" *ngIf="headerName != 'ALLOCATION'">
    <app-sorting></app-sorting>
    </li> -->
    <!-- <li class="nav-item active" title="Broadcast Message">
      <a class="nav-link"><i class="fa fa-microphone mr-1 ml-2"></i></a>
    </li> -->
    <li class="nav-item active click" title="Apply Filter" *ngIf="headerName != 'ALLOCATION'">
      <a class="nav-link" (click)="openFilterMenu()"><i class="fa fa-filter mr-1"></i>Filter</a>
    </li>
    <li class="nav-item active click mr-2" title="Logout">
      <a class="nav-link" (click)="logout()" routerLink="/login"><i class="fa fa-sign-out mr-1"></i>Logout</a>
    </li>

  </ul>
</nav>